---
import type { ContainerProps as Props } from "~/types";
const { class: className = "", contain = true } = Astro.props;
const classes = `${className} ${contain ? "container mx-auto px-4" : ""}`;
---

<div class={classes}>
	<slot />
</div>
